.calendar-table td {
}

.calendar-table {
    text-align: center;
    /*width: 100%;*/
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    font-size: 1rem;
    cursor: default;
}

.calendar-header-nav {
}

#calendar-body td:hover {
    cursor: default;
    background-color: #818181;
}


.calendar-header-button {
    /*padding: 0 1vh;*/
    /*height: 100%;*/
    /*width: 100%;*/
    border-style: none;
    background: none;
    color: white;
    cursor: pointer;
}

.calendar-header-content {
}