.grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-gap: 1em 1em;
}

.header {
    grid-area: 1 / 1 / 2 / 5;
}

.navbar {
    grid-area: 2 / 1 / 4 / 2;
}

.footer {
    grid-area: 4 / 1 / 5 / 5;
}

.content {
    grid-area: 2 / 2 / 3 / 4;
}

.calendar {
    grid-area: 2 / 4 / 3 / 5;
    align-content: space-between;
}

.cards {
    grid-area: 3 / 2 / 4 / 5;
}