* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #535656;
}

div {
    box-sizing: border-box;
}

.grid {

}

.header {
    color: white;
    background-color: royalblue;
}

.navbar {
    color: white;;
    background-color: #3a3c3c;
}

.main {
    display: flex;
    flex-direction: column;
    color: white;
}

.content-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.content {
    order: 1;
}

.calendar {
    order: 2;
    color: white;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.footer {
    color: dimgrey;
    background-color: #242424;
}

